build/
build*/
!scripts/compile/
!scripts/compile/*.sh
.cache/
.idea/
.vscode/
*.log
*.tmp
*.o
*.obj
*.a
*.so
*.dll
*.exe
compile_commands.json

data/*
!data/.gitkeep

results/*
!results/.gitkeep
stdout/

deps_offline/*
!deps_offline/.gitkeep

*.db
*.db-shm
*.db-wal

.worktrees/
