build/
build*/
.cache/
.idea/
.vscode/
*.log
*.tmp
*.o
*.obj
*.a
*.so
*.dll
*.exe
compile_commands.json

data/*
!data/.gitkeep

results/*
!results/.gitkeep

deps_offline/*
!deps_offline/.gitkeep

*.db
*.db-shm
*.db-wal
